{% extends 'base.html.twig' %}
{% block body %}
<h2>Página de inicio</h2>
<div class="w3-row">
  <div class="w3-col m4 l3 w3-card-4">
    <header class="w3-container w3-blue">
      <h1>Header</h1>
    </header>
    <div class="w3-container">
      <p>Lorem ipsum...</p>
    </div>
    <footer class="w3-container w3-blue">
      <h5>Footer</h5>
    </footer>
  </div>
</div>
{% endblock %}
